<footer class="section-p1">
    <div class="col">
        <h2>revife<span class="color">.</span></h2>
        <h4>Contact</h4>
        <p><strong>Address: </strong> Jl. Sunter Karya G K A V I / 14 </p>
        <p><strong>Phone: </strong> +62 896-2324-4972 </p>
        <p><strong>Hours: </strong> 10:00 - 18:00, Mon-Sun </p>
        <div class="social">
            <h4>Follow Us</h4>
            <div class="icon">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-x-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-pinterest"></i>
                <i class="fa-brands fa-youtube"></i>
            </div>
        </div>
    </div>

    <div class="col">
        <h4>About</h4>
        <a href="index.html">Home</a>
        <a href="shop.html">Shop</a>
        <a href="cart.html">Cart</a>
        <a href="wishlist.html">Wishlist</a>
    </div>

    <div class="col">
        <h4>Best Seller</h4>
        <a href="#">Crew Neck T-Shirts</a>
        <a href="#">Soft Flannel Skipper Shirt</a>
        <a href="#">White Polo</a>
        <a href="#">Unisex Sweatshirts</a>
        <a href="#">Fleece Full-Zip Jacket</a>
    </div>

    <div class="col-install">
        <h4>Install App</h4>
        <p>From App Store and Google Play</p>
        <div class="row">
            <img src="images\icon\app.jpg" alt="App Store">
            <img src="images\icon\play.jpg" alt="Play Store">
        </div>
        <p>Secured Payment Gateway</p>
        <img src="images\icon\pay.png" alt="Secured Payment">
    </div>

</footer>

<div class="copyright">
    <p>© 2024, UTS Front-End Programming</p>
</div>