h3 {
    margin-top: 8px;
}

#cart-check-out {
    display: flex;
    justify-content: center;
    padding: 50px 15px;
}

#cart-check-out .total {
    width: 500px;
    background-color: var(--primary-color);
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

#cart-check-out .total h3 {
    color: var(--tertiary-color);
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#cart-check-out .total table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

#cart-check-out .total table td {
    padding: 10px;
    border: 1px solid var(--quinary-color);
    color: var(--tertiary-color);
}

#cart-check-out .total form {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

#cart-check-out .total form input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--quinary-color);
    border-radius: 4px;
}

#cart-check-out .total button {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: none;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#cart-check-out .payment {
    margin: 20px 0;
}

#cart-check-out .payment select {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid var(--quinary-color);
}

@media (max-width: 768px) {
    #cart-check-out .total {
        width: 100%;
        margin: 0 10px;
    }
}