html, body {
    margin-top: 0;
}

.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--primary-color);
    font-family: 'Inter', sans-serif;
}

.login-container {
    display: flex;
    width: 80%;
    max-width: 1100px;
    background-color: var(--secondary-color);
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.login-illustration {
    flex: 1;
    background: linear-gradient(135deg, var(--secondary-color), #e1c7fc);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.illustration-content {
    padding: 20px;
    max-width: 350px;
}

.illustration-content h1 {
    font-size: 2.5rem;
    margin-bottom: 15px;
}

.dot {
    color: var(--secondary-color);
}

.illustration-content p {
    font-size: 1rem;
    color: var(--tertiary-color)
}

.login-form-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.login-form {
    width: 100%;
    max-width: 350px;
}

.login-form h2 {
    color: var(--tertiary-color);
    text-align: center;
    margin-bottom: 30px;
    font-size: 2rem;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    color: var(--tertiary-color);
    font-weight: 500;
}

.input-wrapper {
    display: flex;
    align-items: center;
    border: 1px solid;
    border-radius: 8px;
    padding: 10px;
    background-color: var(--primary-color);
    transition: border-color 0.3s ease;
}

.input-wrapper:focus-within {
    border-color: var(--tertiary-color);
}

.input-wrapper svg {
    margin-right: 10px;
    color: var(--tertiary-color);
}

.input-wrapper input {
    flex-grow: 1;
    border: none;
    background: transparent;
    font-size: 1rem;
    outline: none;
}

.forgot-password {
    text-align: right;
    margin-bottom: 20px;
}

.forgot-password a {
    color: var(--tertiary-color);
    text-decoration: none;
    font-size: 0.9rem;
}

.forgot-password a:hover {
    color: var(--primary-color);
}

.login-btn {
    width: 100%;
    padding: 12px;
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

.login-btn:hover {
    background-color: var(--primary-color);
}

.signup-link {
    text-align: center;
    margin-top: 20px;
    color: var(--tertiary-color);
}

.signup-link a {
    color: var(--tertiary-color);
    text-decoration: none;
    font-weight: 600;
}

.signup-link a:hover {
    color: var(--primary-color)
}

@media (max-width: 768px) {
    .login-container {
        flex-direction: column;
        width: 90%;
    }

    .login-illustration {
        display: none;
    }

    .login-form-container {
        padding: 30px;
    }
}