<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>

<body>
    <div class="admin-container">
        <div class="sidebar">
            <div class="logo mb-4">Admin Panel</div>
            <div class="menu-item" ng-click="showUsers()">Users</div>
            <div class="menu-item" ng-click="showProducts()">Products</div>
            <div class="menu-item" ng-click="showCategories()">Categories</div>
            <div class="menu-item" ng-click="showCoupons()">Coupons</div>
            <div class="menu-item" ng-click="showTransactions()">Transactions</div>
        </div>

        <div class="main-content">
            <div ng-show="isUsersVisible">
                <div>
                    <h3>User Management</h3>
                </div>

                <div class="list-container table-container">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Role</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="user in users">
                                <td>{{ user.name }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.role }}</td>
                                <td>
                                    <button class="btn" ng-click="deleteUser(user._id)">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div id="productsContent" ng-show="isProductVisible">
                <div class="product-form-container">
                    <div>
                        <h3>Product Management</h3>
                        <button type="button" class="btn btn-primary" ng-click="toggleProductForm()">Create New
                            Product</button>
                    </div>

                    <div class="form-container" ng-show="isProductFormVisible">
                        <form name="productForm" ng-submit="isEditMode ? saveProductEdit() : addProduct(name, price, category, description, quantity)">
                            <div class="mb-3">
                                <label class="form-label">Product Name</label>
                                <input type="text" class="form-control" ng-model="name" required>
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Price (Rp)</label>
                                <input type="number" class="form-control" ng-model="price" step="1000"
                                    min="1000" required>
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Category</label>
                                <select class="form-control" ng-model="category" required>
                                    <option value="" disabled selected>Select Category</option>
                                    <option ng-repeat="cat in categories" value="{{ cat.name }}">{{ cat.name }}</option>
                                </select>
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Description</label>
                                <textarea class="form-control" ng-model="description" rows="3"
                                    required></textarea>
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Upload PNG Image</label>
                                <div class="file-input-wrapper">
                                    <input type="file" id="ProductFileInput" class="custom-file-input" accept="image/png" ng-required="!isEditMode"
                                        ng-model="productFileName"/>
                                    <label for="ProductFileInput" class="file-input-label">
                                        <i class="fas fa-upload"></i>
                                        Choose File
                                        <span class="file-name" id="fileNameDisplay">{{productFileName || 'No file chosen'}}</span>
                                    </label>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Quantity</label>
                                <input type="number" class="form-control" ng-model="quantity" required min="1">
                            </div>

                            <div class="button-divition">
                                <button type="submit" class="btn btn-primary">
                                    {{ isEditMode ? 'Update Product' : 'Add Product' }}
                                </button>
                                <button type="button" class="btn btn-secondary" ng-click="resetProductForm()">
                                    Cancel
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="list-container table-container">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Image</th>
                                <th>Name</th>
                                <th>Category</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Sold</th>
                                <th>Description</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="product in products">
                                <td>
                                    <img ng-src="{{ product.image }}" alt="Product Image"
                                        style="width: 100px; height: auto;">
                                </td>
                                <td>{{ product.name }}</td>
                                <td>{{ product.category }}</td>
                                <td>{{ product.price }}</td>
                                <td>{{ product.quantity }}</td>
                                <td>{{ product.sold }}</td>
                                <td>{{ product.description }}</td>
                                <td>
                                    <button class="btn"
                                        ng-click="showEditProductForm(product)">Edit</button>
                                    <button class="btn" ng-click="deleteProduct(product._id)">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div id="categoriesContent" ng-show="isCategoryVisible">
                <div>
                    <h3>Category Management</h3>
                    <button class="btn btn-primary" ng-click="toggleCategoryForm()">Create New Category</button>
                </div>
            
                <div class="form-container" ng-show="isCategoryFormVisible">
                    <form name="categoryForm" ng-submit="addCategory(categoryName, isOnHome)">
                        <div class="mb-3">
                            <label class="form-label">Category Name</label>
                            <input type="text" class="form-control" ng-model="categoryName" placeholder="Enter category name" required>
                        </div>
                        
                        <div class="mb-3">
                            <label class="form-label">Upload PNG Image</label>
                            <div class="file-input-wrapper">
                                <input type="file" id="categoryFileInput" class="custom-file-input" accept="image/png" ng-model="CategoryFileName" required>
                                <label for="categoryFileInput" class="file-input-label">
                                    <i class="fas fa-upload"></i>
                                    Choose File
                                    <span class="file-name" id="fileNameDisplay">{{CategoryFileName || 'No file chosen'}}</span>
                                </label>
                            </div>
                        </div>
                
                        <div class="mb-3">
                            <label class="form-label">Display on Home Page</label>
                            <input type="checkbox" ng-model="isOnHome"> Yes
                        </div>
                        <div class="button-divition">
                            <button type="submit" class="btn btn-primary">
                                Create Category
                            </button>
                            <button type="button" class="btn btn-secondary" ng-click="resetCategoryForm()">
                                Cancel
                            </button>
                        </div>
                    </form>                 
                </div>

                <div class="list-container table-container">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Image</th>
                                <th>Category Name</th>
                                <th>On Home</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="category in categories">
                                <td>
                                    <img ng-src="{{ category.image }}" alt="{{ category.name }}" style="width: 50px; height: 50px;">
                                </td>
                                <td>{{ category.name }}</td>
                                <td>{{ category.isOnHome ? 'Yes' : 'No' }}</td>
                                <td>
                                    <button class="btn" ng-click="changeOnHomeStatus(category._id)">Change Home Status</button>
                                    <button class="btn" ng-click="deleteCategory(category._id)">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div ng-show="isCouponVisible">
                <div>
                    <h3>Coupon Management</h3>
                    <button class="btn btn-primary" ng-click="toggleCouponsForm()">Create New Coupon</button>
                </div>

                <div class="form-container" ng-show="isCouponFormVisible">
                    <form name="couponForm" ng-submit="couponEditMode ? updateCoupon(couponId, couponCode, discountValue, discountType, startAt, expiresAt) : addCoupon(couponCode, discountValue, discountType, startAt, expiresAt)">
                        <div class="mb-3">
                            <label class="form-label">Coupon Code</label>
                            <input type="text" class="form-control" ng-model="couponCode" required>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Discount Type</label>
                            <select class="form-control" ng-model="discountType" required>
                                <option value="" disabled selected>Select Discount Type</option>
                                <option value="percentage">Percentage</option>
                                <option value="fixed">Fixed Amount</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Discount Value</label>
                            <input type="number" class="form-control" ng-model="discountValue" step="0.01" min="0"
                                required>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Start Date</label>
                            <input type="date" class="form-control" ng-model="startAt" required>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Expiry Date</label>
                            <input type="date" class="form-control" ng-model="expiresAt" required>
                        </div>
                        
                        <div class="button-divition">
                            <button type="submit" class="btn btn-primary">
                                Create Coupon
                            </button>
                            <button type="button" class="btn btn-secondary" ng-click="resetCouponForm()">
                                Cancel
                            </button>
                        </div>
                    </form>
                </div>

                <div class="list-container table-container">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Code</th>
                                <th>Discount Type</th>
                                <th>Value</th>
                                <th>Start Date</th>
                                <th>Expiry Date</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="coupon in coupons">
                                <td>{{ coupon.couponCode }}</td>
                                <td>{{ coupon.discountType === 'percentage' ? 'Percentage' : 'Fixed Amount' }}</td>
                                <td>{{ coupon.discountValue }}</td>
                                <td>{{ coupon.startAt | date:'yyyy-MM-dd' }}</td>
                                <td>{{ coupon.expiresAt | date:'yyyy-MM-dd' }}</td>
                                <td>{{ coupon.expiresAt > currentDate ? 'Active' : 'Expired'}}</td>
                                <td>
                                    <button class="btn" ng-click="showCouponEditForm(coupon)">Edit</button>
                                    <button class="btn" ng-click="deleteCoupon(coupon._id)">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div id="transactionContainer" ng-show="isTransactionVisible">
                <div class="transaction-history-container">
                    <div class="history-header">
                        <h1>Transaction History</h1>
                    </div>
            
                    <!-- Loading State -->
                    <div ng-if="isLoading" class="loading-state">
                        <div class="spinner"></div>
                        <p>Loading your transaction history...</p>
                    </div>
            
                    <!-- Error State -->
                    <div ng-if="errorMessage" class="error-state">
                        <i class="fa-solid fa-triangle-exclamation"></i>
                        <p>{{ errorMessage }}</p>
                    </div>
            
                    <!-- Transactions List -->
                    <div ng-if="!isLoading && !errorMessage">
                        <!-- No Transactions -->
                        <div ng-if="transactions.length === 0" class="no-transactions">
                            <p>No transaction history found.</p>
                        </div>
            
                        <!-- Transactions Iteration -->
                        <div ng-repeat="transaction in transactions" class="transaction-card">
                            <!-- Transaction Header -->
                            <div class="transaction-header">
                                <span class="transaction-date">
                                    {{ transaction.transactionDate | date:'medium' }}
                                </span>
                                <span class="transaction-id">
                                    Transaction ID: {{ transaction._id }}
                                </span>
                            </div>
            
                            <!-- Shipping Address -->
                            <div class="shipping-address">
                                <h3>User ID : {{ transaction.userId  }}</h3>
                            </div>
            
                            <!-- Transaction Items -->
                            <div class="transaction-items">
                                <div ng-repeat="item in transaction.items" class="transaction-item">
                                    <div class="item-image">
                                        <img ng-src="{{ item.productId.image }}" alt="{{ item.productId.name }}">
                                    </div>
                                    <div class="item-details">
                                        <h3>{{ item.productId.name }}</h3>
                                        <p>Quantity: {{ item.quantity }}</p>
                                        <p>Price: Rp {{ item.price | number }}</p>
                                        <p>Subtotal: Rp {{ calculateItemTotal(item) | number }}</p>
                                    </div>
            
                                </div>
                            </div>
            
                            <!-- Transaction Summary -->
                            <div class="transaction-summary">
                                <div class="total-price">
                                    <strong>Total:</strong> Rp {{ transaction.totalAmount | number }}
                                </div>
                                <div class="transaction-status">
                                    Status: Completed
                                </div>
                            </div>
                        </div>
                    </div>
            
                </div>
            
            
            </div>
        </div>
</body>