<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>
<body>

    <section id="cart" class="section-p2">
        <table width="100%">
            <thead>
                <tr>
                    <td>Remove</td>
                    <td>Image</td>
                    <td>Product</td>
                    <td>Price</td>
                    <td>Quantity</td>
                    <td>Subtotal</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in cartItems">
                    <td>
                        <button ng-click="removeItem(item.id)">X</button>
                    </td>
                    <td>
                        <img ng-src="{{item.image}}" alt="{{item.name}}">
                    </td>
                    <td>{{item.name}}</td>
                    <td>Rp {{item.price}}</td>
                    <td>
                        <input type="number" ng-model="item.cartQuantity" min="1" ng-change="updateQuantity(item.id, item.cartQuantity)">
                    </td>
                <td>Rp {{item.cartQuantity * item.price}}</td>
                </tr>
            </tbody>
        </table>
    </section>

    <section id="cart-total" class="section-p3">
        <div class="coupon">
            <h3>Apply Coupon</h3>
            <form ng-submit="applyCoupon(couponCode)">
                <input type="text" ng-model="couponCode" placeholder="Please enter your coupon" required>
                <button type="submit">Apply</button>
            </form>
        </div>
        <div class="total">
            <h3>Cart Total</h3>
            <table>
                <tr>
                    <td>Cart Total</td>
                    <td>Rp {{cartTotal}}</td>
                </tr>
                <tr>
                    <td>Discount</td>
                    <td>Rp {{couponDiscount}}</td>
                </tr>
                <tr>
                    <td><strong>Sub Total (discount excl.)</strong></td>
                    <td><strong>Rp {{cartTotal - couponDiscount}}</strong></td>
                </tr>
            </table>
            <a href="/#!/checkout">
                <button class="normal">Proceed to checkout</button>
            </a>
        </div>
    </section>

    <div class="notification-container" ng-class="{ 'active': notification.active }">
        <div class="notification" ng-style="{ backgroundColor: notification.color }">
            <p>{{ notification.message }}</p>
            <button class="close-btn" ng-click="hideNotification()">
                <i class="fa-solid fa-times"></i>
            </button>
        </div>
    </div>
</body>
