<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"></script>
</head>

<body>
    
    <section class="products" ng-controller="ShopController">
        <div class="categories-filter">
            <h1>Filter by:</h1>
            <select name="categories" id="categories" class="categories-selection" ng-model="selectedCategory" ng-change="filterByCategory()">
                <option value="none">None</option>
                <option value="shirts">Shirts</option>
                <option value="t-shirts">T-shirts</option>
                <option value="jacket">Jackets</option>
                <option value="chinos">Chinos</option>
                <option value="jeans">Jeans</option>
                <option value="skirts">Skirts</option>
                <option value="blouses">Blouses</option>
                <option value="dress">Dress</option>
                <option value="sweatshirt">Sweatshirts</option>
            </select>
        </div>
        <div class="box-container">
            <div class="box" ng-repeat="product in paginatedProducts">
                <product-box product = 'product'></product-box>
            </div>
        </div>

        <div id="pagination">
            <a href="#" ng-click="changePage(page)" ng-repeat="page in pages"
                ng-class="{'active': page === currentPage}">
                {{page}}
            </a>
            <a href="#" ng-click="changePage(currentPage - 1)" ng-if="currentPage > 1">
                <i class="fa-solid fa-arrow-left"></i>
            </a>
            <a href="#" ng-click="changePage(currentPage + 1)" ng-if="currentPage < totalPages">
                <i class="fa-solid fa-arrow-right"></i>
            </a>
        </div>
    </section>

</body>

</html>