<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"></script>
</head>
<body>
    
    <section class="products" ng-controller="ShopController">
        <div class="shop-function">
            <div>
                <h1>Filter by:</h1>
                <select name="categories" id="categories" ng-model="selectedCategory" ng-change="filterByCategory()">
                    <option value="none">none</option>
                    <option ng-repeat="category in categories" value="{{category.name}}" ng-click>{{category.name}}</option>
                </select>
            </div>
            <div>
                <h1>Sort by:</h1>
                <select name="sortings" id="sortings" ng-model="selectedSortings" ng-change="sortByName()">
                    <option value="none" disabled>none</option>
                    <option value="asc">Ascending</option>
                    <option value="desc">Descending</option>
                </select>
            </div>
        </div>
        <div class="box-container">
            <div class="box" ng-repeat="product in paginatedProducts">
                <product-box product = 'product'></product-box>
                <div ng-controller="WishlistController">
                    <button class="wishlist-btn" ng-click="toggleWishlist(product)">
                        <i ng-class="wishlistState[product._id] ? 'fa-solid' : 'fa-regular'"
                            ng-style="{'color': wishlistState[product._id] ? 'var(--secondary-color)' : 'gray'}" class="fa-heart"></i>
                    </button>
                </div>
            </div>
        </div>

        <div id="pagination">
            <a ng-click="changePage(page)" ng-repeat="page in pages"
                ng-class="{'active': page === currentPage}">
                {{page}}
            </a>
            <a ng-click="changePage(currentPage - 1)" ng-if="currentPage > 1">
                <i class="fa-solid fa-arrow-left"></i>
            </a>
            <a ng-click="changePage(currentPage + 1)" ng-if="currentPage < totalPages">
                <i class="fa-solid fa-arrow-right"></i>
            </a>
        </div>
    </section>

</body>

</html>