<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>

<body ng-controller="WishlistController">
    <section class="wishlist-main">
        <div class="filter-container">
            <h2>Filter</h2>

            <div class="filter-section" ng-class="{'active': isFilterActive('sorting')}">
                <div class="filter-header" ng-click="toggleFilter('sorting')">
                    <h3>Sorting</h3>
                    <i class="fa" ng-class="{'fa-angle-down': !isFilterActive('sorting'), 'fa-angle-up': isFilterActive('sorting')}"></i>
                </div>
                <div class="filter-options" ng-style="{'height': isFilterActive('sorting') ? 'auto' : '0px'}">
                    <label>
                        <input type="radio" name="sort" value="rating" ng-click="sortWishlist('rating')"> Rating
                    </label>
                    <label>
                        <input type="radio" name="sort" value="price" ng-click="sortWishlist('price')"> Price
                    </label>
                    <label>
                        <input type="radio" name="sort" value="name-asc" ng-click="sortWishlist('name-asc')"> Name (A-Z)
                    </label>
                    <label>
                        <input type="radio" name="sort" value="name-desc" ng-click="sortWishlist('name-desc')"> Name (Z-A)
                    </label>
                </div>
            </div>

            <div class="filter-section" ng-class="{'active': isFilterActive('offers')}">
                <div class="filter-header" ng-click="toggleFilter('offers')">
                    <h3>Offers</h3>
                    <i class="fa" ng-class="{'fa-angle-down': !isFilterActive('offers'), 'fa-angle-up': isFilterActive('offers')}"></i>
                </div>
                <div class="filter-options" ng-style="{'height': isFilterActive('offers') ? 'auto' : '0px'}">
                    <label><input type="checkbox"> Cashback</label>
                    <label><input type="checkbox"> Discount</label>
                    <label><input type="checkbox"> COD</label>
                    <label><input type="checkbox"> Wholesale Price</label>
                </div>
            </div>

            <div class="filter-section" ng-class="{'active': isFilterActive('stock')}">
                <div class="filter-header" ng-click="toggleFilter('stock')">
                    <h3>Stock</h3>
                    <i class="fa" ng-class="{'fa-angle-down': !isFilterActive('stock'), 'fa-angle-up': isFilterActive('stock')}"></i>
                </div>
                <div class="filter-options" ng-style="{'height': isFilterActive('stock') ? 'auto' : '0px'}">
                    <label><input type="checkbox" name="stock" value="preorder"> Preorder</label>
                    <label><input type="checkbox" name="stock" value="available"> Available</label>
                    <label><input type="checkbox" name="stock" value="unavailable"> Unavailable</label>
                </div>
            </div>

            <div class="filter-section" ng-class="{'active': isFilterActive('category')}">
                <div class="filter-header" ng-click="toggleFilter('category')">
                    <h3>Category</h3>
                    <i class="fa" ng-class="{'fa-angle-down': !isFilterActive('category'), 'fa-angle-up': isFilterActive('category')}"></i>
                </div>
                <div class="filter-options" ng-style="{'height': isFilterActive('category') ? 'auto' : '0px'}">
                    <label><input type="checkbox" name="category" value="audio"> Audio, Camera & Electronics</label>
                    <label><input type="checkbox" name="category" value="books"> Books</label>
                    <label><input type="checkbox" name="category" value="kitchen"> Kitchen</label>
                    <label><input type="checkbox" name="category" value="electronics"> Electronics</label>
                    <label><input type="checkbox" name="category" value="fashion"> Kids & Baby Fashion</label>
                </div>
            </div>
        </div>

        <div class="wishlist-container">
            <div ng-repeat="product in wishlistItems" class="product-card fade-in">
                <div class="image-container">
                    <img ng-src="../{{product.image}}" alt="{{product.name}}">
                </div>
                <div class="product-info">
                    <h3 class="product-title">{{ product.name }}</h3>
                    <h4 class="product-price">{{ product.price | currency:'Rp ' }}</h4>
                    <p class="product-sold">Sold {{ product.sold }}</p>
                </div>
                <button class="wishlist-btn" ng-click="toggleWishlist(product)">
                    <i ng-class="wishlistState[product._id] ? 'fa-solid' : 'fa-regular'" ng-style="{'color': wishlistState[product._id] ? 'var(--secondary-color)' : 'gray'}" class="fa-heart"></i>
                </button>
                <button class="add-cart" ng-click="addToCart(product)">+ Add To Cart</button>
            </div>
            <div class="empty" ng-if="emptyWishlistMessage" style="color: var(--tertiary-color);">
                {{ emptyWishlistMessage }}
            </div>
        </div>
    </section>

        <div class="notification-container" ng-class="{ 'active': notification.active }">
            <div class="notification" ng-style="{ backgroundColor: notification.color }">
                <p>{{ notification.message }}</p>
                <button class="close-btn" ng-click="hideNotification()">
                    <i class="fa-solid fa-times"></i>
                </button>
            </div>
        </div>
</body>
