<!DOCTYPE html>
<html lang="en" ng-app="revifeApp">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Revife.</title>
    <link rel="stylesheet" href="style/header.css">
    <link rel="stylesheet" href="style/products.css">
    <link rel="stylesheet" href="style/footer.css">
    <link rel="stylesheet" href="style/cart.css">
    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"></script>
</head>
<body ng-controller="CartController">
    <ng-include src="'partials/header.html'"></ng-include>

    <section id="cart" class="section-p2">
        <table width="100%">
            <thead>
                <tr>
                    <td>Remove</td>
                    <td>Image</td>
                    <td>Product</td>
                    <td>Price</td>
                    <td>Quantity</td>
                    <td>Subtotal</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in cartItems">
                    <td>
                        <button ng-click="removeItem(item.id)">X</button>
                    </td>
                    <td>
                        <img ng-src="{{item.image}}" alt="{{item.name}}">
                    </td>
                    <td>{{item.name}}</td>
                    <td>Rp {{item.price}}</td>
                    <td>
                        <input type="number" ng-model="item.cartQuantity" min="1" ng-change="updateQuantity(item.id, item.cartQuantity)">
                    </td>
                <td>Rp {{item.cartQuantity * item.price}}</td>
                </tr>
            </tbody>
        </table>
    </section>

    <section id="cart-total" class="section-p3">
        <div class="coupon">
            <h3>Apply Coupon</h3>
            <input type="text" ng-model="couponCode" placeholder="Please enter your coupon">
            <button ng-click="applyCoupon()">Apply</button>
        </div>
        <div class="total">
            <h3>Cart Total</h3>
            <table>
                <tr>
                    <td>Cart Total</td>
                    <td>Rp {{cartTotal}}</td>
                </tr>
                <tr>
                    <td>Discount</td>
                    <td>Rp {{couponDiscount}}</td>
                </tr>
                <tr>
                    <td><strong>Sub Total (discount excl.)</strong></td>
                    <td><strong>Rp {{cartTotal - couponDiscount}}</strong></td>
                </tr>
            </table>
            <a href="/checkout"><button class="normal">Proceed to checkout</button></a>
        </div>
    </section>

    <ng-include src="'partials/footer.html'"></ng-include>
    <script src="app.js"></script>
    <script src="../controllers/header.controller.js"></script>
    <script src="../controllers/cart.controller.js"></script>
</body>
</html>