<!DOCTYPE html>
<html lang="en" ng-app="revifeApp">
<head>
    <meta charset="UTF-8">
    <!-- <base href="/"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Revife.</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>

<body>
    <header ng-if="!isLoginPage && !isSignupPage && !isAdminPage" ng-controller="HeaderController">
        <div class="main-header">
            <div class="logo">
                <a href="/"> 
                    <h2>revife<span>.</span></h2>
                </a>
            </div>
            <form id="headerSearchForm" class="search-header" ng-submit="handleHeaderSearch($event)">
                <input type="text" placeholder="Search for products" id="headerSearchBar">
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
            <nav class="navbar">
                <ul class="nav-menu">
                    <li class="nav-item"><span class="nav-link" id="Explore" ng-click="toggleExplore()">Explore <i class="fa-solid fa-angle-down"></i></span></li>
                    <li class="nav-item"><a href="" class="nav-link" ng-click="toggleDarkMode()"><img src="../images/icon/moon.png" id="dark-theme"></a></li>
                    <li class="nav-item"><a href="#!/cart" class="nav-link"><i class="fa-solid fa-cart-shopping"></i></a></li>
                    <li class="nav-item"><a href="#!/wishlist" class="nav-link"><i class="fa-solid fa-heart"></i></a></li>
                    <li class="nav-item"><a href="#!/settings" class="nav-link"><i class="fa-solid fa-gear"></i></a></li>
                </ul>
                <div class="hamburger" ng-click="toggleMenu()">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
            </nav>
        </div>
        <div class="categories-header">
            <nav>
                <ul>
                    <li><a href="#!/shop" data-category="shirts" ng-click="handleCategoryFilter($event)">Shirts</a></li>
                    <li><a href="#!/shop" data-category="t-shirts" ng-click="handleCategoryFilter($event)">T-Shirts</a></li>
                    <li><a href="#!/shop" data-category="jackets" ng-click="handleCategoryFilter($event)">Jackets</a></li>
                    <li><a href="#!/shop" data-category="chinos" ng-click="handleCategoryFilter($event)">Chinos</a></li>
                    <li><a href="#!/shop" data-category="jeans" ng-click="handleCategoryFilter($event)">Jeans</a></li>
                    <li><a href="#!/shop" data-category="skirts" ng-click="handleCategoryFilter($event)">Skirts</a></li>
                </ul>
            </nav>
        </div>
        <div class="explore-links">
            <div class="pria" ng-click="showPriaContent()">
                <h3>pria</h3>
                <h5>Temukan Style mu disini</h5>
            </div>
            <div class="wanita" ng-click="showWanitaContent()">
                <h3>wanita</h3>
                <h5>Temukan hal menarik disini</h5>
            </div>
        </div>
        <div class="explore-contents">
            <div class="contents" id="pria-contents">
                <div class="divition">
                    <h5>New Arrivals</h5>
                    <ul>
                        <li><a href="#!/product">Uni sweatshirt<a><li>
                        <li><a href="#!/product">White Polo</a></li>
                    </ul>
                    <br>
                    <h5>Hot</h5>
                    <ul>
                        <li><a href="#!/product">Godzilla Shirt</a></li>
                        <li><a href="#!/product">CN Shirt</a></li>
                    </ul>
                </div>
                <div class="divition">
                    <h5>Category</h5>
                    <ul>
                        <li><a href="#!/shop" data-category="shirts" ng-click="handleCategoryFilter($event)">Shirts</a></li>
                        <li><a href="#!/shop" data-category="t-shirts" ng-click="handleCategoryFilter($event)">T-Shirts</a></li>
                        <li><a href="#!/shop" data-category="jacket" ng-click="handleCategoryFilter($event)">Jackets</a></li>
                        <li><a href="#!/shop" data-category="sweatshirt" ng-click="handleCategoryFilter($event)">Sweatshirt</a></li>
                        <li><a href="#!/shop" data-category="chinos" ng-click="handleCategoryFilter($event)">Chinos</a></li>
                        <li><a href="#!/shop" data-category="jeans" ng-click="handleCategoryFilter($event)">Jeans</a></li>
                    </ul>
                </div>
            </div>
            <div class="contents" id="wanita-contents">
                <div class="divition">
                <h5>New Arrivals</h5>
                <ul>
                    <li><a href="#!/product">Uni sweatshirt</a></li>
                    <li><a href="#!/product">White Polo</a></li>
                </ul>
                <br>
                <h5>Hot</h5>
                <ul>
                    <li><a href="#!/product">Godzilla Shirt</a></li>
                    <li><a href="#!/product">Jacket Relax</a></li>
                </ul>
                </div>
                <div class="divition">
                    <h5>Category</h5>
                    <ul>
                        <li><a href="#!/shop" data-category="shirts" ng-click="handleCategoryFilter($event)">Shirts</a></li>
                        <li><a href="#!/shop" data-category="t-shirts" ng-click="handleCategoryFilter($event)">T-Shirts</a></li>
                        <li><a href="#!/shop" data-category="jeans" ng-click="handleCategoryFilter($event)">Jeans</a></li>
                        <li><a href="#!/shop" data-category="skirts" ng-click="handleCategoryFilter($event)">Skirts</a></li>
                        <li><a href="#!/shop" data-category="dress" ng-click="handleCategoryFilter($event)">Dress</a></li>
                        <li><a href="#!/shop" data-category="blouses" ng-click="handleCategoryFilter($event)">Blouses</a></li>
                    </ul>
                </div>
            </div>
        </div>
    
        <div class="black-box" ng-click="toggleExplore()"></div>
    </header>
    
        <div ng-view></div>

    <footer ng-if="!isLoginPage && !isSignupPage && !isAdminPage" class="section-p1">
        <div class="col">
            <h2>revife<span class="color">.</span></h2>
            <h4>Contact</h4>
            <p><strong>Address: </strong> Jl. Sunter Karya G K A V I / 14 </p>
            <p><strong>Phone: </strong> +62 896-2324-4972 </p>
            <p><strong>Hours: </strong> 10:00 - 18:00, Mon-Sun </p>
            <div class="social">
                <h4>Follow Us</h4>
                <div class="icon">
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-x-twitter"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-pinterest"></i>
                    <i class="fa-brands fa-youtube"></i>
                </div>
            </div>
        </div>
    
        <div class="col">
            <h4>About</h4>
            <a href="#!/">Home</a>
            <a href="#!/shop">Shop</a>
            <a href="#!/cart">Cart</a>
            <a href="#!/wishlist">Wishlist</a>
        </div>
    
        <div class="col">
            <h4>Best Seller</h4>
            <a href="#">Crew Neck T-Shirts</a>
            <a href="#">Soft Flannel Skipper Shirt</a>
            <a href="#">White Polo</a>
            <a href="#">Unisex Sweatshirts</a>
            <a href="#">Fleece Full-Zip Jacket</a>
        </div>
    
        <div class="col-install">
            <h4>Install App</h4>
            <p>From App Store and Google Play</p>
            <div class="row">
                <img src="../images\icon\app.jpg" alt="App Store">
                <img src="../images\icon\play.jpg" alt="Play Store">
            </div>
            <p>Secured Payment Gateway</p>
            <img src="../images\icon\pay.png" alt="Secured Payment">
        </div>
    </footer>
    <div class="copyright" ng-if="!isLoginPage && !isSignupPage && !isAdminPage">
        <p>© 2024, UTS Front-End Programming</p>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.min.js"></script>
    <script src="app.js"></script>
    <script src="component/component.js"></script>
    <script defer src="../controllers/header.controller.js"></script>
    <script defer src="../controllers/admin.controller.js"></script>
    <script defer src="../controllers/signup.controller.js"></script>
    <script defer src="../controllers/login.controller.js"></script>
    <script defer src="../controllers/wishlist.controller.js"></script>
    <script defer src="../controllers/product.controller.js"></script>
    <script defer src="../controllers/cart.controller.js"></script>
    <script defer src="../controllers/shop.controller.js"></script>
    <script defer src="../controllers/home.controller.js"></script>
</body>

</html>